:root {
/* oxocarbon */
  --background: #1d2021;
  --foreground: #ebdbb2;

  --text: #282828;
  --cursor: #458588;

  --black  : #282828;
  --red    : #cc241d;
  --green  : #98971a;
  --yellow : #d79921;
  --blue   : #458588;
  --magenta: #b16286;
  --cyan   : #689d6a;
  --white  : #ebdbb2;

  --bright-black  : #504945;
  --bright-red    : #fb4934;
  --bright-green  : #b8bb26;
  --bright-yellow : #fabd2f;
  --bright-blue   : #83a598;
  --bright-magenta: #d3869b;
  --bright-cyan   : #8ec07c;
  --bright-white  : #fbf1c7;

  --black-transparent  : #16161620;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

header {
  background-color: var(--black);
  color: var(--foreground);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
header h1{
  color: var(--red);
}
.top-bar {
  position: sticky;
  text-align: right;
  /*width: 100%;*/
  /* height: 5%; */
  top: 0;
  /*left: 5%;*/
  border-radius: 5px;
  background-color: var(--black-transparent);
}
.top-bar-nav {
  position: sticky;
  padding-right: 5%;
}
nav button {
  margin: 10px;
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--background);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
  opacity: 1;
}
nav button:hover {
  background-color: var(--bright-blue);
}
section {
  padding: 20px;
  margin-top: 20px;
  background-color: var(--black);
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
}
section h2 {
  color: var(--red);
}
section h3 {
  color: var(--green);
}
section h4 {
  color: var(--blue);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  gap: 15px;
}
@media (max-width: 844px) {
  .card-container {
    grid-template-columns: 1fr;
    gap: 10px; /* opzionale: puoi ridurre anche il gap */
  }
}
.repo-card {
  background-color: var(--black);
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
  transition: background-color 200ms ease-in-out, transform 200ms ease;
  will-change: background-color, transform;
}

.repo-card:hover {
  background-color: var(--background);
  transform: translateY(-3px);
}

.repo-card a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}
.repo-card p {
  margin: 0;
}
.social-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
  transition: background-color 200ms ease-in-out, transform 200ms ease;
  will-change: background-color;
}
.social-buttons .btn {
  padding: 10px 15px;
  text-decoration: none;
  background-color: var(--green);
  color: var(--background);
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.2s;
  text-align: center;
}
.icon-button {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  /*margin-right: 0.5em;*/
}
.social-buttons .btn:hover {
  background-color: var(--bright-green);
}
footer {
  background: var(--bbackground);
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: var(--foreground);
}



