img{
    height: 50px;
    width: 50px;
    text-align: center;
}
.red{
    background-color: #B33030;
    border-color: #B83836;
}
.buttonLink{
    background-color: #B33030;
    border-color: #B33030;
    border-radius: 12px;
    width: 60px;
    height: 60px;
    border-width: 0px;
    align-items: center;
}
span{
    padding-right:10px;
}
